#a {
    text-align: center;
    background-color: blueviolet;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/dan.jpeg);
}

#ping {
    background-color: aqua;
    padding-bottom: 100px;
    background-image: url(../img/image.jpeg);
    background-image: fixed;
    
}

#pong {
    background-image: url(../img/kid.jpeg);
    background-attachment: fixed;
    background-size: fixed;
    background-position: center;
    
}

.btn {
    background-color: blueviolet;
    scrollbar-shadow-color: bisque;
}